.profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f8fafc;
  background-image: url(../assets/omm.jpg);
}

.profile-card {
  background: #ffffff;
  padding: 40px;
  width: 650px; /* wider */
  min-height: 550px; /* taller */
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  transition: all 0.3s ease;
}

.profile-card:hover {
  transform: translateY(-5px);
}

.back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  color: #2563eb;
  font-size: 16px;
  cursor: pointer;
}

.profile-avatar {
  margin-top: 50px;
  margin-bottom: 20px;
}

.role-text {
  color: #6b7280;
  margin-bottom: 20px;
}

.profile-info p {
  font-size: 16px;
  color: #1e293b;
  margin: 12px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.edit-btn {
  background: #2563eb;
  color: #fff;
  border: none;
  padding: 10px 24px;
  margin-top: 25px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.edit-btn:hover {
  background: #0f7929;
}

/* Edit Form */
.edit-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 25px;
}

.edit-form label {
  font-weight: 600;
  margin-top: 10px;
  color: #334155;
}

.edit-form input {
  padding: 10px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  margin-top: 5px;
  font-size: 15px;
}

.edit-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.edit-actions button {
  background: #25eb28;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.edit-actions button:hover {
  background: #9d1dd8;
}

.cancel-btn {
  background: #efca44 !important;
  color: red;
}

.cancel-btn:hover {
  background: #dc2926 !important;
}

.message-box {
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: 500;
  text-align: center;
  animation: fadeIn 0.4s ease-in-out;
}

.message-box.success {
  background-color: #d1fae5;
  color: #065f46;
  border: 1px solid #10b981;
  box-shadow: 0 0 10px rgba(16, 185, 129, 0.3);
}

.message-box.error {
  background-color: #fee2e2;
  color: #b91c1c;
  border: 1px solid #ef4444;
  box-shadow: 0 0 10px rgba(239, 68, 68, 0.3);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
